Build/
build/
__pycache__/
cmake-build-debug/
cmake-build-release/
debug/
release/
.idea/
.cmake/
venv/
Tests/Catch2/
Tests/CMakeFiles

uci-log.txt
cmake_install.cmake
CTestTestfile.cmake
Tests/cmake_install.cmake
Tests/CTestTestfile.cmake
Tests/tests_tests-b12d07c.cmake
Tests/tests_include-b12d07c.cmake
.gitlab-ci.yml
.ninja_deps
.ninja_log
build.ninja
compile_commands.json
DartConfiguration.tcl
README.md